* {
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
    background-color: #613dc1;
    color: white;
    height: 30px;
    padding: 25px;
    
}
#text-box {
    padding: 10px 25px;
    width: 100%;
    resize: none;
    border-radius: 0;
    border-color: #613dc1;
    border: 2px solid #613dc1;
}
p {
    margin: 20px;
    border: 2px solid #613dc1;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: white;
    background-color: #613dc1;
}